<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO 8859 1" />
	<title>Daya Chocolates</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<link rel="stylesheet" type="text/css" href="skin/frontend/default/dayachocolates/css/styles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="skin/frontend/default/dayachocolates/css/skin.css" media="all" />
	<link rel="stylesheet" type="text/css" href="skin/frontend/default/dayachocolates/css/cloud-zoom.css" media="all" />
	<link rel="stylesheet" type="text/css" href="skin/frontend/default/dayachocolates/css/light_box.css" media="all" />
	<link rel="stylesheet" type="text/css" href="skin/frontend/default/dayachocolates/css/widgets.css" media="all" />
	<link rel="stylesheet" type="text/css" href="skin/frontend/default/dayachocolates/css/mix.css" media="all" />
	<link rel="stylesheet" type="text/css" href="skin/frontend/default/dayachocolates/css/slider.css" media="all" />
	<link rel="stylesheet" type="text/css" href="skin/frontend/default/dayachocolates/css/banner.css" media="all" />
	<link rel="stylesheet" type="text/css" href="skin/frontend/default/dayachocolates/css/magicat.css" media="all" />
	<link rel="stylesheet" type="text/css" href="skin/frontend/default/default/chronorelais/chronorelais.css" media="all" />

	<script type="text/javascript" src="js/prototype/prototype.js"></script>
	<script type="text/javascript" src="js/prototype/validation.js"></script>
	<script type="text/javascript" src="js/scriptaculous/builder.js"></script>
	<script type="text/javascript" src="js/scriptaculous/effects.js"></script>
	<script type="text/javascript" src="js/scriptaculous/dragdrop.js"></script>
	<script type="text/javascript" src="js/scriptaculous/controls.js"></script>
	<script type="text/javascript" src="js/scriptaculous/slider.js"></script>
	<script type="text/javascript" src="js/varien/js.js"></script>
	<script type="text/javascript" src="js/varien/form.js"></script>
	<script type="text/javascript" src="js/varien/menu.js"></script>
	<script type="text/javascript" src="js/mage/translate.js"></script>
	<script type="text/javascript" src="js/mage/cookies.js"></script>
	<script type="text/javascript" src="skin/frontend/default/dayachocolates/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="skin/frontend/default/dayachocolates/js/common.js"></script>
	<script type="text/javascript" src="skin/frontend/default/dayachocolates/js/cloud-zoom.1.0.2.js"></script>
	<script type="text/javascript" src="skin/frontend/default/dayachocolates/js/jquery.jcarousel.min.js"></script>
	<script type="text/javascript" src="skin/frontend/default/dayachocolates/js/jquery.mix.js"></script>
	<script type="text/javascript" src="skin/frontend/default/dayachocolates/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="skin/frontend/default/dayachocolates/js/banner_pack.js"></script>
	<script type="text/javascript" src="skin/frontend/default/dayachocolates/js/minicart.js"></script>
	
</head>

<body>
<!-- BEGIN GOOGLE ANALYTICS CODE -->
<!-- END GOOGLE ANALYTICS CODE -->

	<div class="wrapper">
		<div class="page"> 
			<div class="header-container">
				<div class="header">
					<div>
						<ul id="logo">
						  <li class="logo-box">
							<h1 class="logo"><strong>DayaChocolates</strong><a href="index.html" title="DayaChocolates" class="logo"><img src="skin/frontend/default/dayachocolates/images/logo.jpg" alt="Magento Commerce" /></a></h1>
						  </li>

						</ul>
					</div>
					<div class="nav-container">
						<ul id="nav">

							<li class="level0 nav-1 level-top first">
							<a href="" class="level-top">
							<span>Pralines</span>
							</a>
							</li>
							<li class="level0 nav-2 level-top">
							<a href="" class="level-top">
							<span>Chocolates</span>
							</a>
							</li>
							<li class="level0 nav-3 level-top parent">
								<a href="" class="level-top">
								<span>Tablettes</span>
								</a>
								<ul class="level0">
									<li class="level1 nav-3-1 first">
									<a href="">
									<span>Plain tablettes</span>
									</a>
									</li>
									<li class="level1 nav-3-2 last">
									<a href="">
									<span>Decorated tablettes</span>
									</a>
									</li>
								</ul>
							</li>
							<li class="level0 nav-4 level-top">
								<a href="" class="level-top">
								<span>Creations</span>
								</a>
							</li>
							<li class="level0 nav-7 level-top last">
								<a href="c" class="level-top">
								<span>Others</span>
								</a>
							</li>    
						</ul>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<div class="main-container col1-layout">
				<div class="main">
					<div class="col-main">
						<div class="std" style="clear:both;">

							<div class="banner_box">
								<div class="slider-wrapper banner">
									<div id="slider" class="banner_slider">
										<a href=""><img src="skin/frontend/default/dayachocolates/images/banner_1.jpg" alt="" /></a> 
										<a href=""><img src="skin/frontend/default/dayachocolates/images/banner_2.jpg" alt="" /></a> 
										<a href=""><img src="skin/frontend/default/dayachocolates/images/banner_3.jpg" alt="" /></a>
										<a href=""><img src="skin/frontend/default/dayachocolates/images/banner_4.jpg" alt="" /></a>
										<a href=""><img src="skin/frontend/default/dayachocolates/images/banner_5.jpg" alt="" /></a>
									</div>
								</div>
								<div class="promotional_block">
									<div class="block_one"><a href="creations-exclusives/boite-de-bouche-b.html"><img src="skin/frontend/default/dayachocolates/images/promo1.jpg" alt="" /></a></div>
									<div class="block_one"><a href="macarons.html"><img src="skin/frontend/default/dayachocolates/images/promo2.jpg" alt="" /></a></div>
									<div class="block_two"><a href="petits-caprices/croqu-noir-amande.html"><img src="skin/frontend/default/dayachocolates/images/promo3.jpg" alt="" /></a></div>
								</div>
							</div>

							<div class="box-center">
								<div class="special"> 
									<div id="mix_container" class="mix_container">
										<h1 class="category_page_title"></h1>
										
											<div id="container" class="mix_wrapper">
														  
												<ul class="mix_gallery">			
												
													<li class="item first ">
														<div class="outer box">
															<div class="product-image">
															<h2 class="product-name-home"><a href="#" title="Croqu' lait noisette">Chocolate Milk</a></h2>
															<div class="vg-prix">
																<div class="price-box">
																	<span class="regular-price" id="product-price-113-right">
																		<span class="price">9,60 &euro;</span>                
																	</span>
																</div>
															</div>
																<a href='#' class="prod-accueil"><img src="http://www.chocolatier-bouillet.com/boutique-en-ligne/media/catalog/product/cache/1/small_image/17f82f742ffe127f42dca9de82fb58b1/c/r/croqulai.jpg" alt="Croqu' lait noisette" /></a>
																<a href='#' class='ajouter'>Display</a>
																<a href='http://www.chocolatier-bouillet.com/boutique-en-ligne/media/catalog/product/cache/1/small_image/17f82f742ffe127f42dca9de82fb58b1/c/r/croqulai.jpg' class='fancybox quickllook' id=''>More Info</a>
															</div>
														</div>
													</li>

													<li class="item first ">
														<div class="outer box">
															<div class="product-image">
															<h2 class="product-name-home"><a href="#" title="Rouge à lèvres">Something</a></h2>
															<div class="vg-prix">										
																<div class="price-box">
																	<span class="regular-price" id="product-price-180-right">
																		<span class="from-configurable-price">From: </span><span class="price">1,00 &euro;</span>                
																	</span>
																</div>
															</div>
																<a href='#' class="prod-accueil"><img src="http://www.chocolatier-bouillet.com/boutique-en-ligne/media/catalog/product/cache/1/small_image/17f82f742ffe127f42dca9de82fb58b1/r/o/rouge5_2.jpg" alt="Rouge à lèvres" /></a>
																<a href='#' class='ajouter'>Display</a>
																<a href='#' class='fancybox quickllook' id=''>More Info</a>
															</div>
														</div>
													</li>

													<li class="item first ">
														<div class="outer box">
															<div class="product-image">
															<h2 class="product-name-home"><a href="#" title="Maca'Lyon">Something</a></h2>
															<div class="vg-prix">
																<div class="price-box">
																	<span class="regular-price" id="product-price-177-right">
																		<span class="from-configurable-price">From: </span><span class="price">12,80 &euro;</span>               
																	</span>
																</div>
															</div>
																<a href='#' class="prod-accueil"><img src="http://www.chocolatier-bouillet.com/boutique-en-ligne/media/catalog/product/cache/1/small_image/17f82f742ffe127f42dca9de82fb58b1/i/m/image-170_3.jpg" alt="Maca'Lyon" /></a>
																<a href='#' class='ajouter'>Display</a>
																<a href='#' class='fancybox quickllook' id=''>More Info</a>
															</div>
														</div>
													</li>
													
													<li class="item first ">
														<div class="outer box">
															<div class="product-image">
															<h2 class="product-name-home"><a href="#" title="Les classiques - 4 macarons">Macarons</a></h2>
															<div class="vg-prix">
																<div class="price-box">
																	<span class="regular-price" id="product-price-7-right">
																		<span class="price">5,60 &euro;</span>
																	</span>
																</div>
															</div>
																<a href='#' class="prod-accueil"><img src="http://www.chocolatier-bouillet.com/boutique-en-ligne/media/catalog/product/cache/1/small_image/17f82f742ffe127f42dca9de82fb58b1/r/e/reglette4macarons.jpg" alt="Les classiques - 4 macarons" /></a>
																<a href='#' class='ajouter'>Display</a>
																<a href='#' class='fancybox quickllook' id=''>More Info</a>
															</div>
														</div>
													</li>

												</ul>
											</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<!-- FOOTER -->
			<div class="footer-container">
				<div class="footer">
				
					<div class="f-fix">
						<div class="footer-content"></div>
						<div class="free-shipping"><div style="margin-bottom:10px;"></div><a href=""><img src="skin/frontend/default/dayachocolates/images/delivery_title.jpg" alt="" /><span>Zones, areas and delivery rates.</span></a></div>         
					</div>
					
					<div class="f-left bottom_links">
							
						<div class="footer-content">
							<div class="block_1">
								<h3 class="title-1"><span>Products</span></h3>
								<ul class="footer_links">
									<li> <a href="">Pralines</a></li>
									<li> <a href="">Chocolates</a></li>
									<li> <a href="">Tablettes</a></li>
									<li> <a href="">Creations</a></li>
									<li> <a href="">Others</a></li>
								</ul>
							</div>
							<div class="block_1">
								<h3 class="title-2"><span>Info</span></h3>
								<ul class="footer_links">
									<li> <a href="">My Delivery</a></li>
									<li> <a href="">FAQ</a></li>
								</ul>
							</div>
							<div class="block_1">
								<h3 class="title-3"><span>Daya Chocolates</span></h3>
								<ul class="footer_links">
									<li> <a href="">Our history</a></li>
									<li> <a href="">Contact us</a></li>
								</ul>
							</div>
							<div class="block_1">
								<h3 class="title-4"><span>Other</span></h3>
								<ul class="footer_links">
									<li> <a href="http://www.facebook.com/pages/Daya-Chocolates/179500518766180">Facebook</a></li>
								</ul>
							</div>
							<div class="block_2">
								<div class="payment"><img src="skin/frontend/default/dayachocolates/images/wiretransfer.jpg" alt="" /> <img src="skin/frontend/default/dayachocolates/images/amexp.jpg" alt="" /> <img src="skin/frontend/default/dayachocolates/images/visa.jpg" alt="" /> <img src="skin/frontend/default/dayachocolates/images/mastercard.jpg" alt="" /></div>
							</div>
						</div>                       
							 
					</div>
				</div>
				<address>&copy; 2012 - DayaChocolates<span><a href="">Contact Us</a></span></address>
			 </div>
		</div>
	</div>
</body>
</html>
